.row .btn {
    margin: 1vh;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5vh;
}

.allergyContainer {
    margin: 0 auto;
    padding-top: 10vh;
    height: 100vh;
    background-image: url('../../assets/images/dingHDBack_Dark.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-height: 568px) {
    div.allergyContainer > div.container > div.row > div > a.btn-large,
    div.allergySettingsContainer > div.container > div.row > div > a.btn-large {
        height: 46px;
        line-height: 46px;
    }
}

@media all and (max-height: 480px) {
    div.allergyContainer > div.container > div.row > div > a.btn-large,
    div.allergySettingsContainer > div.container > div.row > div > a.btn-large {
        height: 41px;
        line-height: 42px;
    }

    div.allergyContainer > div.container > div.right > a > div.container > button,
    div.allergySettingsContainer > div.container > div.right > div.container > button {
        height: 8vh;
        line-height: 2vh;
    }

    div.allergyContainer > div.container > div.right,
    div.allergySettingsContainer > div.container > div.right {
        margin-top: 0vh !important;
    } 
}

@media all and (min-width: 600px) and (orientation: landscape) {
    .allergyContainer {
        width: 60%;
    }
    
    div.allergyContainer > div.container > div.row > div > a.btn-large,
    div.allergySettingsContainer > div.container > div.row > div > a.btn-large {
        height: 6.9vh;  
        margin: 1vh .5vh; 
        padding: 0 1rem;
        line-height: 36px;      
    }
    
    .allergyContainer > .container > .row > div > .btn-desk > div > div.title-container {
        line-height: 5.5vh;
    }

    .allergyContainer > .container > .right > a > .container > button {
        height: 8.5vh;
        margin-right: 5vh;
    }

    div.regConfirmContainer > div.container > div.regConfirmButtonContainer > a.btn-large,
    div.regConfirmContainer > div.container > div.regConfirmButtonContainer > button.btn-large{
        padding: 0 5%;
        font-size:.9rem;
    } 
}

@media all and (min-width: 768px) and (orientation: landscape) {
    .allergyContainer {
        width: 60%;
    }
    
    div.allergyContainer > div.container > div.row > div > a.btn-large,
    div.allergySettingsContainer > div.container > div.row > div > a.btn-large {
        height: 6.9vh;  
        margin: 1vh .5vh; 
        padding: 0 1rem;     
    }

}

@media all and (min-width: 1024px) and (orientation: landscape) {
    .allergyContainer > .container > .row > div > .btn-desk > div > div.title-container {
        line-height: 5vh;
    }
}

@media all and (min-width:1024px) {
    .allergyContainer {
        width: 60%;
    }
    
    div.allergyContainer > div.container > div.row > div > a.btn-large,
    div.allergySettingsContainer > div.container > div.row > div > a.btn-large {
        height: 5.9vh;  
        margin: 1vh .5vh; 
        padding: 0 .5rem;     
    }
    .allergyContainer > .container > .right > a > .container > button{
        height:7.5vh;
    }

    div.regConfirmContainer > div.container > div.regConfirmButtonContainer > a.btn-large,
    div.regConfirmContainer > div.container > div.regConfirmButtonContainer > button.btn-large{
        padding: 0 5%;
        font-size:.8rem;
    } 

    .settingsOptionArea > .settingsButton{
        padding: 0 25px;
        font-size: 1rem;
        line-height: 7vh;
    }
}

@media all and (min-width:1355px) {
    .allergyContainer {
        width: 60%;
    }
    
    div.allergyContainer > div.container > div.row > div > a.btn-large,
    div.allergySettingsContainer > div.container > div.row > div > a.btn-large {
        height: 5.9vh;  
        margin: 1vh .5vh; 
        padding: 0 .5rem;     
    }
    .allergyContainer > .container > .right > a > .container > button{
        height:7.5vh;
    }

    div.regConfirmContainer > div.container > div.regConfirmButtonContainer > a.btn-large,
    div.regConfirmContainer > div.container > div.regConfirmButtonContainer > button.btn-large{
        padding: 0 5%;
        font-size:.8rem;
    } 
}
/* @media all and (min-width:768px) {
    
} */