.row .btn {
    margin: 1vh;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vh;
}

.bottom {
    margin-top: 2vh;
}

.allergyContainer {
    height: 100vh;
    background-image: url('../../assets/images/dingDarkBlur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}