html {
    font-size: 4vmin;
}

body {
    margin: 0;
    font-size: 0;
}

.mainContentContainer {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

.iconcolor {
    color: rgb(38, 155, 233);
}

.mainContainer {
    height: 77.5%;
}

.collection {
    overflow: visible;
}

.lobsterFont {
    font-family: 'Lobster', cursive;
}

.oxygenFont {
    font-family: 'Oxygen', sans-serif;
}

.button {
    height: 52px;
    line-height: 26px;
    margin: 4% auto;
    background-color: grey;
}

.empty {
    width: 5vw;
}

.phonePls {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1000000;
    color: white;
    background-color: black;
    font-size: 10vmin;
}

.phonePls > * {
    text-align: center;
    width: 100%;
}

.completeButton {
    margin-bottom: 2vh;
}