.right {
    margin-top: 2%;
}

.dietContainer {
    height: 100vh;
    background-image: url('../../assets/images/dingDarkBlur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width: 992px) {
    .collection {
        display: flex;
        flex-direction: row;   
        flex-wrap: wrap;
        justify-content: center;   
    }

    .btn-desk > div {
        text-align: center;
        margin-top: 4vh;
    }

    .button {
        height: 20vh;
        width: 20vh;
        margin: 3vh 1vw;
    }

    .title-container {
        margin-bottom: 2vh;
    }
} 

@media screen and (max-height: 568px) {
    div.mealNumContainer > div.container > div.button-column {
        margin-top: 5vh !important;
    }

    div.mealNumContainer > div.container > div.right {
        margin-top: 4.5vh !important;
    }
}