.right {
    margin-top: 2%;
}

.dietContainer {
    height: 100vh;
    background-image: url('../../assets/images/dingHDBack_Dark.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width: 992px) {
    .collection {
        display: flex;
        flex-direction: row;   
        flex-wrap: wrap;
        justify-content: center;   
    }

    .btn-desk > div {
        text-align: center;
        margin-top: 4vh;
    }

    .button {
        height: 10vh;
        width: 20vh;
        margin: 3vh 1vw;
    }

    .title-container {
        margin-bottom: 2vh;
    }
} 

@media screen and (max-height: 568px) {
    div.mealNumContainer > div.container > div.button-column {
        margin-top: 5vh !important;
    }

    div.mealNumContainer > div.container > div.right {
        margin-top: 4.5vh !important;
    }
}

@media all and (max-height: 480px) {
    div.container > div.center-align > div,
    div.container > div.center-align > div {
        height: 12vh;
    }
}

@media all and (min-height: 600px) {
    .dietContainer {
        width: 60%;
    }

    .dietContainer > .container > .center > .card-content {
        font-size: 1.5rem !important;
    }

    .dietContainer > .container > .center-align > div > a {
        width: 40vh;
        padding: 0;
        margin: 1vh;
        font-size: .7rem;
    }

    .btn-desk > div {
        margin-top: .5vh;
    }

    .btn-desk > div > div {
        line-height: 3.3vh;
    }

    .dietContainer > .container > .right > a > .container > button {
        height: 8.5vh;
        margin-right: 5vh;
    }
}