.footer {
    background-color: #ff5e1ff5;
    position: fixed;
    height: 10%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    bottom: 0;
    box-shadow: 0 -4px 5px 0 rgba(0,0,0,0.14), 0 -1px 10px 0 rgba(0,0,0,0.12), 0 -2px 4px -1px rgba(0,0,0,0.3);
    z-index: 2;
}

.headerBar {
    background-color: #ff5f1ff5;
    top: 0;
    height: 10%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 2;
}

.headerBar * {
    font-size: 2rem;
}

.headerLogo {
    height: 85%;
}

.footerDefault {
    color: #ffffff;
}

.footerSelected {
    color: #26a69a;
}

.errorModalContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;           
    background-color: #f75211e7;            
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 38%;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
}

.errorCloseContent {
    position: absolute;
    bottom: 0;
    font-size: 1.5rem;
    padding-bottom: 12%;
    width: 100%;
    text-shadow: 2px 3px 2px black;
    color: white;
}

.errorText {
    margin-bottom: 4vh;
    margin-top: 3vh;
    font-size: 1.5rem;
    padding: 0 7%;
    color: white;
}

.loaderModal, .errorModal {
    position: absolute;
    z-index: 1000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
}

.loaderFixed, .errorFixed {
    position: fixed;
    height: 100%;
    width: 100%;
}

.loaderSpinner {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

@media all and (min-width: 600px) and (orientation: landscape) {
    .errorModalContent {
        top: 42%;
        width: 27%;
        height: 49%;
    }

    .errorText {
        font-size: 1.2rem;
    }

    .errorCloseContent {
        padding-bottom: 7%;
    }

    .headerBar * {
        font-size: 1.5rem;
    }

    .footer > a,
    .groceryAdd > a > svg,
    .groceryBack > a > svg {
        font-size: 1.5rem !important;
    }

    .headerBar, .footer {
        width: 60%;
    }
}