.footer {
    background-color: #f75211e7;
    position: fixed;
    height: 10%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    bottom: 0;
    box-shadow: 0 -4px 5px 0 rgba(0,0,0,0.14), 0 -1px 10px 0 rgba(0,0,0,0.12), 0 -2px 4px -1px rgba(0,0,0,0.3);
}

.headerBar {
    background-color: #f75211e7;
    top: 0;
    z-index: 1; 
    height: 10%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.headerBar * {
    font-size: 3rem;
}

.headerLogo {
    height: 70%;
}

.footerDefault {
    color: #ffffff;
}

.footerSelected {
    color: #26a69a;
}

.loaderModal {
    position: absolute;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
}

.loaderSpinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}