@font-face {
    font-family: 'LaBelleAurore';
    src: local('LaBelleAurore'), url(../fonts/LaBelleAurore.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.loginContainer {
    height: 100%;
    width: 100%;
    background-image: url('../../assets/images/dingBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.loginContainer *  {
    font-size: 1rem;
    color: white;
}

.loginLogo {
    padding-top: 35%;
    display: block;
    margin: 0 auto;
}

.loginSlogan {
    font-size: 2.2rem;
    position: absolute;
    top: 40%;
    left: 20%;
    font-family: 'LaBelleAurore';
}

.loginButtons {
    margin-top: 30%;
    text-align: center;
}

.loginButton, .registerButton {
    font-size: 2rem;
    width: 53%;
    margin: 2%;
    font-family: 'Oxygen', sans-serif;
}

.validationText1, .checkmark {
    display: inline-block;
    color: black;
}

.validationText1, .validationText2 {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    box-shadow: 2px 2px 3px gray;
    position: absolute;
    bottom: -10%;
    left: 0%;
    z-index: 10;
    color: black;
}

.validationText2 {
    bottom: -35%;
    color: black;
}

.inputField {
    position: relative;
}