.loginContainer {
    height: 100%;
    width: 100%;
    background-color: lightblue;
    margin: 0;
}

.loginContainer *  {
    font-size: 1rem;
}

.loginLogo {
    text-align: center;
    padding-top: 30%;
    margin: 0;
    font-size: 4rem;
    font-family: 'Lobster', cursive;
}

.loginSlogan {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 1%;
    font-family: 'Lobster', cursive;
}

.loginButtons {
    margin-top: 30%;
    text-align: center;
}

.loginButton, .registerButton {
    font-size: 2rem;
    width: 53%;
    margin: 2%;
    font-family: 'Oxygen', sans-serif;
}

.validationText1, .checkmark {
    display: inline-block;
}

.validationText1, .validationText2 {
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    box-shadow: 2px 2px 3px gray;
    position: absolute;
    bottom: -10%;
    left: 0%;
    z-index: 10;
}

.validationText2 {
    bottom: -35%;
}

.inputField {
    position: relative;
}