.button-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button-column > div {
    margin: 5%;
}

.collection {
    margin-top: 10vh;
}

.mealButton {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.mealNumContainer {
    height: 100vh;
    background-image: url('../../assets/images/dingDarkBlur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}