.button-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button-column > div {
    margin: 5%;
}

.grey {
    background-color: grey;
}

.collection {
    margin-top: 10vh;
}

.mealButton {
    display: flex;
    align-items: center;
}

.mealNumContainer {
    height: 100vh;
    background-image: url('../../assets/images/dingBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}