
.regConfirmContainer {
    margin: 0 auto;
    min-height: 100vh;
    width: 100%;
    padding-top: 10vh;
    font-size: 10vmin;
    background-image: url('../../assets/images/dingHDBack_Dark.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.regConfirmButtonContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    padding-bottom: 50px;
}

.regConfirmButtonContainer > * {
    white-space: nowrap;
}

.regConfirmHeader {
    margin: 10% 0;
}

.regConfirmSelectionArea {
    font-size: .5em;
}

.regConfirmSelectionArea > * {
    margin: 5%;
}

.regConfirmLabel {
    font-weight: bold;
    font-size: 1.5em;
}

.regConfirmFooter {
    height: 10%;
}

@media all and (min-height: 590px) and (max-height: 590px) {
    .regConfirmContainer {
        height: 105vh;
    }
}

@media all and (min-width: 600px) and (orientation: landscape) {

    .regConfirmContainer {
        width: 60%;
    }
    .regConfirmContainer > .container > .center > .card-content {
        font-size: 1.3rem;
    }

    .regConfirmContainer > .container > .regConfirmSelectionArea  {
        font-size: .7rem;
    }
}