.settingsContainer {
    margin: 0 auto;
    font-size: 4vmin;
    height: 100vh;
    padding-top: 10vh;
    width: 100%;
    text-align: center;
    background-image: url('../../assets/images/dingHDBack_Dark.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.settingsButton{
    font-size: 1.5em;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.dietSettingsContainer {
    margin: 0 auto;
    padding-top: 10vh;
    height: 100vh;
    background-image: url('../../assets/images/dingHDBack_Dark.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.allergySettingsContainer {
    margin: 0 auto;
    padding-top: 10vh;
    height: 100vh;
    background-image: url('../../assets/images/dingHDBack_Dark.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.settingsOptionArea {
    height: 80%;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.filterModalBackdrop{
    background-color: rgba(0, 0, 0, .4);
    height: 100%;
    width: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
}

.filterModal {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    background-color: #757575;
    border: 2px solid #ff5e1f;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.filterModal h4 {
    color: white;
    text-align: center;
    font-size: 4vmin;
}

.filterModalButtons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

@media only screen and (min-width: 992px) {
    .collection {
        display: flex;
        flex-direction: row;   
        flex-wrap: wrap;
        justify-content: center;   
    }

    .btn-desk > div {
        text-align: center;
        margin-top: 4vh;
    }

    .button {
        height: 10vh;
        width: 20vh;
        margin: 3vh 1vw;
    }

    .title-container {
        margin-bottom: 2vh;
    }
} 

@media screen and (max-height: 568px) {
    div.mealNumContainer > div.container > div.button-column {
        margin-top: 5vh !important;
    }

    div.mealNumContainer > div.container > div.right {
        margin-top: 4.5vh !important;
    }
}

@media all and (max-height: 480px) {
    div.container > div.center-align > div,
    div.container > div.center-align > div {
        height: 12vh;
    }
}

@media all and (min-width: 600px) {
    .allergySettingsContainer > .filterModalBackdrop > .filterModal {
        height: 500px;
        width: 500px;
    }

    .dietSettingsContainer {
        width: 60%;
    }

    .dietSettingsContainer > .container > .center > .card-content {
        font-size: 1.5rem !important;
    }

    .dietSettingsContainer > .container > .center-align > div > a {
        width: 40vh;
        padding: 0;
        margin: 1vh;
        font-size: .7rem;
    }

    .btn-desk > div {
        margin-top: .5vh;
    }

    .btn-desk > div > div {
        line-height: 3.3vh;
    }

    .dietSettingsContainer > .container > .right > a > .container > button {
        height: 8.5vh;
        margin-right: 5vh;
    }

    .settingsContainer {
        width: 60%;
    }

    .settingsOptionArea > .settingsButton {
        font-size: 1.2rem;
        height: 7vh;
        line-height: 7vh;
    }

    .settingsContainer > .mainContainer > .center > .card-content {
        font-size: 1.4rem;
    }

    .settingsContainer > .footer {
        width: 60%;
    }
}

@media all and (min-width: 600px) and (max-height: 600px) {
    .allergySettingsContainer > .filterModalBackdrop > .filterModal {
        height: 300px;
        width: 300px;
    }
}

@media all and (min-width: 1000px){
    .allergySettingsContainer > .filterModalBackdrop > .filterModal {
        height: 750px;
        width: 750px;
    }
}

@media all and (min-width: 1000px) and (max-height: 900px) {
    .allergySettingsContainer > .filterModalBackdrop > .filterModal {
        height: 500px;
        width: 500px;
    }
}

@media all and (max-width: 320px){
    .allergySettingsContainer > .filterModalBackdrop > .filterModal {
        height: 200px;
        width: 200px;
    }
}

@media screen and (max-height: 568px) {
    div.allergyContainer > div.container > div.row > div > a.btn-large,
    div.allergySettingsContainer > div.container > div.row > div > a.btn-large {
        height: 46px;
        line-height: 46px;
    }
}

@media all and (max-height: 480px) {
    div.allergyContainer > div.container > div.row > div > a.btn-large,
    div.allergySettingsContainer > div.container > div.row > div > a.btn-large {
        height: 41px;
        line-height: 42px;
    }

    div.allergyContainer > div.container > div.right > a > div.container > button,
    div.allergySettingsContainer > div.container > div.right > div.container > button {
        height: 8vh;
        line-height: 2vh;
    }

    div.allergyContainer > div.container > div.right,
    div.allergySettingsContainer > div.container > div.right {
        margin-top: 0vh !important;
    } 
}

@media all and (min-width: 600px) {
    .allergyContainer, .allergySettingsContainer {
        width: 60%;
    }
    
    div.allergyContainer > div.container > div.row > div > a.btn-large,
    div.allergySettingsContainer > div.container > div.row > div > a.btn-large {
        height: 6.9vh;  
        margin: 1vh .5vh;      
    }
    
    .allergyContainer > .container > .row > div > .btn-desk > div > div.title-container,
    .allergySettingsContainer > .container > .row > div > .btn-desk > div > div.title-container {
        line-height: 5.5vh;
    }

    .allergyContainer > .container > .center > .card-content,
    .allergySettingsContainer > .container > .center > .card-content {
        font-size: 1.3rem;
    }

    .allergyContainer > .container > .right > a > .container > button,
    .allergySettingsContainer > .container > .right > .container > button {
        height: 8.5vh;
        margin-right: 5vh;
    }
}