.settingsContainer{
    font-size: 4vmin;
    height: 100%;
    width: 100%;
    text-align: center;
    background-image: url('../../assets/images/dingDarkBlur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.settingsHeader, .groceryHead{
    margin: 1.14rem 0 .912rem 0;
}

.settingsButton{
    font-size: 1.5em;
    color: white;
}

.dietSettingsContainer {
    height: 100vh;
    background-image: url('../../assets/images/dingDarkBlur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.allergySettingsContainer {
    height: 100vh;
    background-image: url('../../assets/images/dingDarkBlur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.settingsOptionArea {
    height: 80%;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}